<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/RegistrationJs/script.js"></script>
    <link href="/RegistrationCss/style.css" rel="stylesheet">
</head>
<body>
    <h3 align="center">24DEV092 DHAVAL MONANI</h3>
    <form name="forgotpassword" id="forgotpassword">
        <table>
            <tr>
                <td>Email Address</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td><input type="button" value="submit" onclick="fp()" class="button"></td>
            </tr>
        </table>
    </form>
    <h3 id="fgl"></h3>
</body>
</html>