<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .logout{
            margin-left:1100px;
            text-decoration: none;
            border:1px solid blue;
            padding:10px;
            border-radius: 10px;
        }
        .logout:hover{
            background-color: blue;
            border-color: white;
            color: white;
        }
        tr, td {
                    padding-top: 10px;
                    padding-bottom: 20px;
                    padding-left: 30px;
                    padding-right: 40px;
                }
                table{
                    margin-top:20px;
                }
                #task{
                    text-decoration: none;
                }

    </style>

</head>
<body>
    <h3 align="center">24DEV092 DHAVAL MONANI</h3>
    <h1 align="center">Welcome to Task Data</h1>
    <a href="/logout" class="logout">LogOut</a>
    <table border="1">
        <tr>
            <td><a href="DynamicTable" target="_blank" id="task">DynamicTable</a><br></td>
            <td><a href="colortable" target="_blank" id="task">ColorTable</a><br></td>
            <td><a href="eventtable" target="_blank" id="task">Javascript Events</a><br></td>
            <td><a href="tic_tac_toe" target="_blank" id="task">Tic Tac Toe</a><br></td>
            <td><a href="timezone" target="_blank" id="task">TimeZones</a></td>
        </tr>
        <tr>
            <td><a href="register" target="_blank" id="task">Applicant Register</a><br></td>
            <td><a href="studentform" target="_blank" id="task">Student Internship Form</a><br></td>
            <td><a href="studentlist" target="_blank" id="task">Internship Students List</a><br></td>
            <td><a href="index" target="_blank" id="task">JsonPlaceHolderApi</a><br></td>
            <td><a href="states" target="_blank" id="task">State and City</a></td>
        </tr>
        <tr>
            <td><a href="sdata" target="_blank" id="task">All Student Data</a><br></td>
            <td><a href="order" target="_blank" id="task">Student Data in Order</a><br></td>
            <td><a href="result" target="_blank" id="task">Results</a><br></td>
            <td><a href="attendance" target="_blank" id="task">Attendance</a><br></td>
            <td><a href="dqindex" target="_blank" id="task">Dynamic Query</a></td>
        </tr>
        <tr>
            <td><a href="ehya" target="_blank" id="task">Ehya Screen</a><br></td>
            <td><a href="awan" target="_blank" id="task">Awan</a><br></td>
            <td><a href="HireX" target="_blank" id="task">HireX</a><br></td>
            <td><a href="welcome" target="_blank" id="task">CRUD with text file</a><br></td>
            <td><a href="search" target="_blank" id="task">Search with Delimeter</a></td>
        </tr>
    </table> 
</body>
</html>