<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

</head>
<body>
    <h3 align="center">24DEV092 DHAVAL MONANI</h3>
    <h1 align="center">Welcome to Task Data</h1>
    <table border="1">
        <tr>
            <td><a href="DynamicTable" target="_blank">DynamicTable</a><br></td>
            <td><a href="colortable" target="_blank">ColorTable</a><br></td>
            <td><a href="eventtable" target="_blank">Javascript Events</a><br></td>
            <td><a href="tic_tac_toe" target="_blank">Tic Tac Toe</a><br></td>
            <td><a href="timezone" target="_blank">TimeZones</a></td>
        </tr>
        <tr>
            <td><a href="register" target="_blank">Applicant Register</a><br></td>
            <td><a href="studentform" target="_blank">Student Internship Form</a><br></td>
            <td><a href="studentlist" target="_blank">Internship Students List</a><br></td>
            <td><a href="index" target="_blank">JsonPlaceHolderApi</a><br></td>
            <td><a href="states" target="_blank">State and City</a></td>
        </tr>
        <tr>
            <td><a href="sdata" target="_blank">All Student Data</a><br></td>
            <td><a href="order" target="_blank">Student Data in Order</a><br></td>
            <td><a href="result" target="_blank">Results</a><br></td>
            <td><a href="attendance" target="_blank">Attendance</a><br></td>
            <td><a href="dqindex" target="_blank">Dynamic Query</a></td>
        </tr>
    </table> 
</body>
</html>