<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="RegistrationJs/script.js"></script>
    <link href="RegistrationCss/style.css" rel="stylesheet">
</head>
<body>
    <h3 align="center">24DEV092 DHAVAL MONANI</h3>
    <h2>Login</h2>
    <p>Your email address is your username</p>
    <h3 id="message"></h3>
    <form name="loginform" id="loginform">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" id="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password" id="password"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" value="submit" onclick="login()" class="button"></td>
            </tr>
        </table>
    </form>
   <a href="http://localhost:3000/forgotpassword">Forgot Password?</a>
</body>
</html>