<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/RegistrationJs/script.js"></script>
    <link href="/RegistrationCss/style.css" rel="stylesheet">
</head>
<body>
    <h3 align="center">24DEV092 DHAVAL MONANI</h3>
    <h3>Sorry your link is expired</h3>
    <input type="button" value="click here for new link" onclick="newlink()" class="button">
    <h3 id="rgl"></h3>
</body>
</html>