<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull</title>
    <style>
        body
        {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            background-color: bisque;
        }
        .btn{
           padding:10px;
           font-size: 1rem;
           background-color: aqua;
           border: 1px solid aqua;
           text-decoration: none;
       }

       .btn:hover{
           background-color: orange;
           color:white;
           border:1px solid orange;
       }
    </style>
</head>
<body>
    <h1>Data Added Successfully</h1>
    <a href="userdetails" class="btn">All Data</a>
</body>
</html>