<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body{
           align-items: center;
           justify-content: center;
           display: flex;
           background-color: bisque;
           flex-direction: column;
       }
       .btn{
           padding:10px;
           font-size: 1rem;
           background-color: aqua;
           border: 1px solid aqua;
           text-decoration: none;
       }

       .btn:hover{
           background-color: orange;
           color:white;
           border:1px solid orange;
       }
    </style>
</head>
<body>
    <h1>Welcome to Portal</h1>
    <a href="registerfile" class="btn">Register</a>
</body>
</html>