<html>
    <head>
        <title>Awan</title>
        <link rel="stylesheet" href="awanCss/style.css">
        <script src="awanJs/script.js"></script>
    </head>
    <body>
        <header>
            <nav class="container">
                <div>
                    <div class="logo">
                        <img src="awanImages/Logo.png" alt="awan">
                    </div>
                    <div class="menu">
                        <ul>
                            <li>Hosting</li>
                            <li>Integration</li>
                            <li>Pricing</li>
                            <li>Community</li>
                            <li><button class="bn">Login</button></li>   
                        </ul>
                    </div>
                </div>
                <hr>
            </nav>
        </header>
        <main>
            <section class="container">
                <div class="row1">
                    <div class="r1c1">
                        <h1 class="con1">Hosting Services for Your Website</h1>
                        <div class="con2">
                            <p>Easily and reliably host a Website for your business,</p>
                            <p>organization, or project while retaining complete control</p>
                            <p>over your site's underlying infrastructure</p>
                        </div>
                        <div class="buttons">
                            <button class="btn1">Get Started</button>
                            <button class="btn2">Get Migration Help</button>
                        </div>
                    </div>
                    <div class="r1c2">
                        <img src="awanImages/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="man">
                    </div>
                </div>
                <div class="row2">
                    <img src="awanImages/arrow-down.png" alt="downarrow">
                </div>
            </section>
            <section class="container">
                <div class="row3">
                    <div class="r3col">
                        <p>Those who have</p>
                        <p>experienced the best</p>
                        <p>performance</p>
                    </div>
                    <div class="r3col">
                        <div class="img1">
                            <img src="awanImages/Telkom Indonesia Logo.png">  
                        </div>
                    </div>
                    <div class="r3col">
                        <img src="awanImages/Jetstar Airways Logo.png">
                    </div>
                    <div class="r3col">
                        <img src="awanImages/Nescafe Logo.png">
                    </div>
                    <div class="r3col">
                        <img src="awanImages/Lenovo Logo.png">
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="row4">
                    <div class="r4cols">
                        <img src="awanImages/Group 3552.png">
                    </div>
                        <div class="r4cols">
                            <h5 class="tlt">Boost the speed of your website</h5>
                            <div class="cc">
                                <div class="child-cols">
                                    <p class="tt">Faster Build Process</p>
                                    <p class="desc">We can speed up the process of creating your website</p>
                                </div>
                                <div class="child-cols">
                                    <p class="tt">Faster Delivery</p>
                                    <p class="desc">Our purchases and services can be completed quickly</p>
                                </div>
                                <div class="child-cols">
                                    <p class="tt">Faster Access Speed</p>
                                    <p class="desc">Superb network infrastructure and hardware to support fast and stable access</p>
                                </div>
                                <div class="child-cols">
                                    <p class="tt">24/7 Faster Service</p>
                                    <p class="desc">We have a response time of less than 180 seconds, available 24 hours a day</p>
                                </div>
                            </div>
                        </div>    
                    </div>    
                </div>
            </section>
            <section class="container">
                <div class="row5">
                    <div class="r5cnt">
                        <p>Host any website with our fully managed services</p>
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="sect4box">
                    <div class="cols">
                        <div class="box">
                            <div class="inbox">
                                <h4><img src="awanImages/cloud-sunny.png">Cloud Hosting</h4>
                                <p>Cloud Hosting is good fit for those of you who are
                                    building personal websites, portfolios, blogs, and other
                                    systems</p>
                            </div>
                            <div class="price">
                                <h2>$5.9</h2><h5>/month</h5>
                            </div>
                            <div class="more">
                                <a href="#">More Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="cols">
                        <div class="box">
                            <div class="inbox">
                                <h4><img src="awanImages/cloud-sunny.png">Cloud Hosting</h4>
                                <p>Cloud Hosting is good fit for those of you who are
                                    building personal websites, portfolios, blogs, and other
                                    systems</p>
                            </div>
                            <div class="price">
                                <h2>$5.9</h2><h5>/month</h5>
                            </div>
                            <div class="more">
                                <a href="#">More Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="cols">
                        <div class="box">
                            <div class="inbox">
                                <h4><img src="awanImages/cloud-sunny.png">Cloud Hosting</h4>
                                <p>Cloud Hosting is good fit for those of you who are
                                    building personal websites, portfolios, blogs, and other
                                    systems</p>
                            </div>
                            <div class="price">
                                <h2>$5.9</h2><h5>/month</h5>
                            </div>
                            <div class="more">
                                <a href="#">More Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="cols">
                        <div class="box">
                            <div class="inbox">
                                <h4><img src="awanImages/cloud-sunny.png">Cloud Hosting</h4>
                                <p>Cloud Hosting is good fit for those of you who are
                                    building personal websites, portfolios, blogs, and other
                                    systems</p>
                            </div>
                            <div class="price">
                                <h2>$5.9</h2><h5>/month</h5>
                            </div>
                            <div class="more">
                                <a href="#">More Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="row7">
                    <div class="r7cols">
                        <div class="ls">
                            <ul>
                                <li class="dcr" onclick="content(1)">Wordpress</li>
                                <li class="dcr" onclick="content(2)">Magento</li>
                                <li class="dcr" onclick="content(3)">Laravel</li>
                                <li class="dcr" onclick="content(4)">Php</li>
                            </ul>
                        </div>
                    </div>
                    <div class="r7cols">
                        <div id="secdtl">
                            <h2>The Best Managed Cloud Hosting for WordPress</h2>
                            <p>We live and breathe wordpress. Our managed hosting for wordpress and woocommerece takes away cloud server related busniess do you can scale your website the way you want</p>
                            <div class="sr">
                                <div class="sc">
                                    <p><img src="awanImages/Vector.png">Unlimited Bandwidth</p>
                                </div>
                                <div class="sc">
                                    <p><img src="awanImages/Vector.png">Network Speed</p>
                                </div>
                            </div>
                            <div class="sr">
                                <div class="sc">
                                    <p><img src="awanImages/Vector.png">Turbo Power</p>
                                </div>
                                <div class="sc">
                                    <p><img src="awanImages/Vector.png">Xtreme Freedom</p>
                                </div>
                            </div>
                            <div>
                                <button class="mdtl">More Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="row8">
                    <div class="r8ctn">
                        <h5>How our customers feel about us</h5>
                    </div>
                    <div class="r8nt">
                            <img src="awanImages/arrow-down.png" class="leftarrow" onclick="leftscroll()">
                            <img src="awanImages/arrow-right.png" class="rightarrow" onclick="rightscroll()">
                    </div>
                </div>
                <div class="row82" id="r82">
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img src="awanImages/profile.png">
                            <p><img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"> <img src="awanImages/Star 2.png"></p>
                            <p class="review">Thanks to the awan hoster i was guided step-by-step until it was finished</p>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>    
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="row9">
                    <div class="col9">
                        <div class="cnt9">
                            <h5>Try it now and stop doubting anything else</h5>
                            <p>with awan hoster's money back guarantee, you can try the best service reliability</p>
                            <div class="sbbt">
                                <button class="btn1">Start Free Trial</button>
                                <button class="btn2">See all plans</button>
                            </div>
                        </div>
                    </div>
                    <div class="col9">
                        <img src="awanImages/Group 1000008788.png">
                    </div>
                </div>
            </section>
        </main>
        <footer class="container">
            <div class="footer">
                <div class="frow">
                    <div class="fcol">
                        <div class="fcnt">
                            <p><img src="awanImages/logo-white.png"></p>
                            <p>we provide you the best hosting solutions for your website</p>
                        </div>
                    </div>
                    <div class="fcol">
                        <div class="menu-items">
                            <div class="fcol1">
                                <ul>
                                    <li class="list-title">Company</li>
                                    <li>about</li>
                                    <li>blog</li>
                                    <li>leadership</li>
                                    <li>careers</li>
                                    <li>legal</li>
                                </ul>
                            </div>
                            <div class="fcol1">
                                <ul>
                                    <li class="list-title">Products</li>
                                    <li>Api</li>
                                    <li>Pricing</li>
                                    <li>Documentation</li>
                                    <li>Release Notes</li>
                                </ul>
                            </div>
                            <div class="fcol1">
                                <ul>
                                    <li class="list-title">Contact</li>
                                    <li>Support</li>
                                    <li>Sales</li>
                                    <li>Report Abuse</li>
                                    <li>System Status</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>