.nav-bar{
    background-color: #FFFFFF;
}
.container{
    max-width: 1366px;
    padding: 0 15px;
    margin: 0 auto;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    padding:10px;
    margin:0px 0px 0px 650px;
    margin-top:-40px;
}
a{
    text-decoration: none;
    color:#0D2436;
}
li{
    padding:10px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.bn{
    background:none;
    padding: 15px;
    border:1px solid #1565D8;
    border-radius: 10px;
    color:#1565D8;
    margin-top:-15px;
}
 .logo{
    margin-top:30px;
    margin-left:120px;
}
.hero{
    margin-left:50px;
}
.row1{
    display:flex;
    margin-left:50px;
  
}
.content{
    color:#0D2436;
    margin-top:250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bn2{
    width:250px;
    background-color:#1565D8;
    color:white;
    height:60px;
    border-radius: 10px;
}
.content h2{
    font-weight: 700;
    font-size: 3rem;
}
.row2{
    margin:0 -15px;
    padding:15px;
}
.part1{
    margin-left:600px;
}
.row2 h3{
    margin-left:-120px;
    color:#0D2436;
}
.row2p1{
    margin-left:-220px;
}

.part2{
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
    margin-left:30px;
}

.part2 ul{
    list-style: none;
    display:flex;
    margin-left:200px;
    margin-top:50px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    padding: 25px; 
    margin:0 -15px;
}
.col{
    background-color: #FFFFFF;
    width:calc(100% / 3);
    height: 300px;
    border:2px solid rgb(254,254,254);
    border-radius:10px;
    padding: 0 15px;
}
.ct{
    font-size: 1.2rem;
}
.r4p1{
    margin-left:550px;
}

.r4p1 h3{
    margin-left:-80px;
}
.r4p1 p{
    margin-left:-180px;
}
.r4row{
    display: flex;
    padding: 25px;
    gap:20px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}
.img1{
    margin-top: -130px;
    font-size: 1.8rem;
    color:white;
    font-weight: bold;
    width:480px;
    margin-left:40px;
}
.img2{
    margin-top: -90px;
    font-size: 1.8rem;
    color:white;
    font-weight: bold;
    width:480px;
    margin-left:40px;
}
.r51{
    display: flex;
    flex-wrap: wrap;
    padding: 25px; 
    margin:0 -15px;
}
.c51{
    width:calc(100% / 3);
    height: 300px;
    padding: 15px; 
}
.r61{
    display: flex;
    padding: 25px;
    margin-left:20px;
    gap:10px;
    
}
.c61{
    width:33.33%;
    height: 300px;
    padding:25px; 
     
}
.footer{
    background-color: #0D2436;
    width:1366px;
    height:200px;
    display: flex;
    margin:0 auto;

}
.lg{
    margin-top:50px;
    margin-left:70px;
}
.ftct{
    margin-left:55px;
    color:#5A7184;
    padding:15px;
}
.ftct2{
    margin-top:50px;
    margin-left:100px;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;

}

.ipt{
    border-radius: 10px;
    width:350px;
    height: 50px;
}

.bn3{
    width:150px;
    background-color:#1565D8;
    color:white;
    height:50px;
    border: #1565D8;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.bdr{
    border-radius: 10px;
    border:2px solid rgb(231,239,250);
}
.row5{
    font-size: 1.2rem;
}
.mn{
    color:#36B37E;
    margin-left:-20px;
}

.row3{
    font-size: 1.2rem;
    
}

.ctl{
    color:blue;
}

.ftc1{
    display: flex;
    margin-left:55px;
}

.ftc2{
    display: flex;
    margin-left:60px;
}

.star{
    margin-left: 60px;

}
.star img{
    width:7%;
}

.ftc3{
    display: flex;
    margin-left: 100px;
}

.dl1{
    margin-left:60px;
}
.dl2{
    margin-left:70px;
}
.dl3{
    margin-left:50px;
}

.ftct1{
    margin-top:-20px;
    margin-left: 70px;
    color:#5A7184;
}
.r4ct{
    margin-left: 470px;
}

.r2ct{
    margin-left:-100px;
}

.mn2{
    color:green;
}