<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,td{
            border:1px solid black;
        }
        img{
            height:150px;
            width:200px;
        }
        .commenttable{
            background-color: orange;
        }
    </style>
    <script type="text/javascript">
        let query = window.location.search;
        let param = new URLSearchParams(query);
        const Id = Number(param.get('Id'));
        var table = document.createElement('table');
        var tr = document.createElement('tr'); 
        async function fetchdata()
       {
            try{
                const response = await fetch('https://jsonplaceholder.org/posts');
                const data = await response.json();
                return data;
            }
            catch(e)
            {
                console.log(e);
            }
       }
       async function readData()
       {
            let data = await fetchdata();
            if(!data)
            {
                return;
            }
            for(let key in data[0])
            {
                let td = document.createElement('td');
                td.textContent = key;
                tr.appendChild(td);
            }
            table.appendChild(tr);
            data.forEach(element => {
              if(element.id === Id)
              {
                var tr = document.createElement('tr');
                tr.innerHTML = ` <td>${element.id}</td>
                <td>${element.slug}</td>
                <td>${element.url}</td>
                <td>${element.title}</td>
                <td>${element.content}</td>
                <td><img src='${element.image}' alt="post"></td>
                <td><img src='${element.thumbnail}' alt="post"></td>
                <td>${element.status}</td>
                <td>${element.category}</td>
                <td>${element.publishedAt}</td>
                <td>${element.updatedAt}</td>
                <td>${element.userId}</td>`;
                table.appendChild(tr);
              }
            })            
            document.body.append(table);    
       }
       readData();
       async function fetchcomments()
       {
            try{
                const response = await fetch('https://jsonplaceholder.org/comments');
                const data = await response.json();
                return data;
            }
            catch(e)
            {
                console.log(e);
            }
       }
       async function readcomments()
       {
           
            let data = await fetchcomments();
            if(!data)
            {
                return;
            }

            let postcomment = data.filter(item=>{
                return item['postId'] == Id;
            })
            if(postcomment.length  > 1)
            {
                let commentstable = document.createElement('table');
                commentstable.className = 'commenttable';
                let tr = document.createElement('tr')
                let ar = [];
                for(let key in postcomment[0])
                {
                    let td = document.createElement('td');
                    ar.push(key);
                    td.textContent = key;
                    tr.appendChild(td);
                }
                commentstable.appendChild(tr);
                document.body.append(commentstable);
               
                postcomment.forEach(comment=>{
                    let tr1 = document.createElement('tr') 
                    for(let data in comment)
                    {
                        let td = document.createElement('td');
                        td.textContent = comment[data];
                        tr1.appendChild(td);
                    }
                    commentstable.appendChild(tr1);
                })     
            }
            else
            {
                let message = document.createElement('h3');
                message.innerHTML = "Post Has no Comments";
                document.body.append(message);
            }
            
        }
    </script>
</head>
<body>
    <button onclick="readcomments()">Show Comments</button>
</body>
</html>