<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>States</title>
    <script src="dynamic_city_js/script.js"></script>
</head>
<body>
    <select name="states" onchange="changecity()" id="state">
        <% states.forEach(state=>{ %>
            <option value="<%=state.id %>"><%=state.statename %></option>
        <%})%>
    </select>
    <select name="city" id="city">
        <option>Please Select state first</option>
    </select>
</body>
</html>