<html>
    <head>
        <title>ehya</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div>
                <div class="logo">
                    <a href="#"><img src="Logo.svg" alt="logo"></a>
                </div>
                <div class="nav-bar">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Landings</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Help</a></li>
                        <li><button class="bn">Get it now</button></li>
                    </ul>
                </div>
            </div>
        </header>
            <section class="row1">
                <div class="hero">
                    <img src="Hero.png" alt="image">
                </div>
                <div class="content">
                    <h2>Make your new life</h2>
                    <h2>happier.</h2>
                    <p>We work With Several insurances companies to</p>
                    <p>secure insurance coverages tailored to meet your needs</p>
                    <button class="bn2">Get a consultation</button>
                </div>
            </section>
            <section class="row2">
                <div class="part1">
                    <h4 class="mn">Our Services<h4>
                    <h3>Insurance made simple for you</h3>
                    <p class="row2p1">We work with several leading insurance companies to secure insurance</p>
                    <p class="r2ct">coverages tailored to meet your needs </p>
                </div>
                <div class="part2">
                    <diV>
                        <ul>
                            <li><p>Flexible products to make your life easier</p></li>
                            <li><p>Highest Standards of service</p></li>
                            <li><p>Fast and reliable service</p></li>
                        </ul>
                    </diV>
                </div>
            </section>
            <section class="row3">
                <div class="row">
                   <div class="col">
                        <div><img src="Icon_Home.svg" class="bdr"></div>
                        <div class="ct">
                            <h5>Home Insurance</h5>
                            <p>Home insurance is a type of insurance policy that provides cover for your home</p>
                            <p><a href="#" class="ctl">Learn more -></a></p>
                        </div>
                   </div>
                   <div class="col">
                    <div><img src="Icon_Blood_Donation.svg" class="bdr"></div>
                    <div class="ct">
                        <h5>Life Insurance</h5>
                        <p>Helping you bridge gaps in your health care coverage during times of transition</p>
                        <p><a href="#" class="ctl">Learn more -></a></p>
                    </div>
                   </div>
                   <div class="col">
                    <div><img src="Icon_Car.svg" class="bdr"></div>
                    <div class="ct">
                        <h5>Car Insurance</h5>
                        <p>Car insurance is a type of insurance policy that provides cover for your car</p>
                        <p><a href="#" class="ctl">Learn more -></a></p>
                    </div>
                   </div>
                </div>
            </section>
            <section class="row4">
                <div class="r4p1">
                    <h4 class="mn">Our Tips for you</h4>
                    <h3>Reinventing your protection</h3>
                    <p>We Share common trends, strategies ideas,opinions, short & long</p>
                </div>
                <div class="r4ct">
                    <p>stories from the team behind company</p>
                </div>
                <div class="r4p2">
                    <div class="r4row">
                        <div class="r4col">
                            <img src="Image.png">
                            <p class="img1">How to prevent and protect your family from Carbon monoxide</p>
                        </div>
                        <div class="r4col">
                            <div>
                                <img src="Image2.png">
                                <p class="img2">Motherhood is the hardest and best job ever</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row5">
                <div class="r51">
                    <div class="c51">
                        <div>
                            <p class="mn2">Your Benefits</p>
                            <h5>We're your right </h5>
                            <h5>Insurance Advocate</h5>
                        </div>
                    </div>
                    <div class="c51">
                        <div>
                            <img src="Donation.svg" class="bdr">
                            <h5>We have the best prices</h5>
                            <p>our insurance plan offers are priced the same everywhere else. we just make them easier for you to find</p>
                        </div>
                    </div>
                    <div class="c51">
                        <div>
                            <img src="Icon_Protection.svg" class="bdr">
                            <h5>We're your insurance advocates</h5>
                            <p>We will deal with the insurance companies for you, even after you've bought your plan</p>
                        </div>
                    </div>
                </div>
                <div class="r51">
                    <div class="c51">
                        <div>
                            <img src="Icon_Neutron.svg" class="bdr">
                            <h5>We're unbiased</h5>
                            <p>Our online tools help you decide what product is best for you.We're here to insurance plan you choose</p>
                        </div>
                    </div>
                    <div class="c51">
                        <div>
                            <img src="Icon_CS.svg" class="bdr">
                            <h5>We're available 24/7</h5>
                            <p>we have your back 24/7 between our online chat function,email and telephone support</p>
                        </div>
                    </div>
                    <div class="c51">
                        <div>
                            <img src="Icon_Like.svg" class="bdr">
                            <h5>We make insurance simple</h5>
                            <p>We're committed to making applying for insurance as simple as can be for our customers.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row6">
                <div class="r61">
                    <div class="c61">
                        <div class="ftc1">
                            <img src="Avatar.png"><img src="Avatar-1.png"><img src="Avatar-2.png">
                        </div>
                        <p>Friendly customer support</p> 
                            <p class="dl1">team</p>
                    </div>
                    <div class="c61">
                        <div class="ftc2">
                            <img src="Path.svg">TrustPilot
                        </div>
                        <div class="star">
                            <p><img src="s.svg"> <img src="s.svg"> <img src="s.svg"> <img src="s.svg"> <img src="s.svg"> </p>
                        </div>
                        <p><b>4.6 out of 5 stars</b> from 8.6</p>
                        <p class="dl2">reviews </p>
                    </div>
                    <div class="c61">
                        <div class="ftc3">
                            <img src="Icon_Like.svg">
                        </div>
                        <p>We're making <b>insurance as</b></p>
                        <p class="dl3"><b> simple as </b> can be</p>
                    </div>
                </div>
            </section>
        <footer>
            <div class="footer">
                <div>
                    <img src="Logo_white.svg" class="lg">
                    <p class="ftct">Build a modern and creative</p>
                    <p class="ftct1">website with crealand</p>
                </div>
                <div class="ftct2">
                    <h4>Ready to get insured?Submit your request and hear back as soon as tomorrow</h4>
                    <input type="text" name="email" placeholder="Your Email" class="ipt">
                    <button class="bn3">Get started</button>
                </div>
            </div>
        </footer>
    </body>
</html>