<html>
    <head>
        <title>HireX</title>
        <link rel="stylesheet" href="HireXCss/style.css">
        <script  src="HireXJs/script.js"></script>
    </head>
    <body>
        <header>
            <nav class="container">
                <div class="logo">
                    <img src="HireXImages/HireX_black.png" alt="HireX.">
                </div>
                <div class="menu">
                    <ul>
                        <li>Works</li>
                        <li>About us</li>
                        <li>Blogs</li>
                        <li>FAQs</li>
                        <li>Contact us</li>
                        <li><button class="menu-button">We're Hiring  <img src="HireXImages/arrow-right.svg"></button></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <section class="container">
                <div class="section1">
                    <div class="row">
                        <div class="column">
                            <p>WELCOME TO HIREX <img src="HireXImages/Star 1.png" class="HireXImages/star-image"></p>
                            <h1>Award Winning Digital Agency.</h1>
                            <p>Digital Agency Offering unique solutions to create digital presence and increase your sales.</p>
                            <div class="input-box">
                                <input type="text" name="input" class="inputfield" placeholder="Your email address"><button class="access-button">Request access</button>
                            </div>
                            <div class="comment">
                                <p class="comment-content">Open account and get 5 boxes</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="shapes">
                                <div class="circle">
                                    <div class="circle-image">
                                        <img src="HireXImages/image 2 (Traced).png">
                                    </div>
                                    <div class="circle-content">
                                        <p>Web Design</p>
                                    </div>
                                </div>
                                <div class="half-circle">
                                    <div class="hc-image">
                                        <img src="HireXImages/image 6 (Traced).png">
                                    </div>
                                    <div class="hc-content">
                                        <p>Social</p>
                                        <p>Midia</p>
                                    </div>
                                </div>
                                <div class="square">
                                    <div class="square-content">
                                        <p>UIX Design</p>
                                    </div>
                                    <div class="square-image">
                                        <img src="HireXImages/image 1 (Traced).png">
                                    </div>
                                </div>
                            </div>
                            <div class="new-image">
                                <img src="HireXImages/Group 6.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="section2">
                    <div class="row1">
                        <div class="column1">
                            <p class="sld">Get Access Now!</p> <img src="HireXImages/image-fBLQvAFN1-transformed 1.png">
                            <div class="border">
                                <img src="HireXImages/Line 4.png">
                            </div>
                        </div>
                        <div class="column1">
                            <p class="sld">Get Access Now!</p> <img src="HireXImages/image-fBLQvAFN1-transformed 1.png">
                            <div class="border">
                                <img src="HireXImages/Line 4.png">
                            </div>
                        </div>
                        <div class="column1">
                            <p class="sld">Get Access Now!</p> <img src="HireXImages/image-fBLQvAFN1-transformed 1.png">
                            <div class="border">
                                <img src="HireXImages/Line 4.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="section3">
                    <div class="content">
                        <p class="c1">Services</p>
                        <p class="c2">How Hirex. Work</p>
                        <p class="c3">The awesome people who make all this possible</p>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            <div class="card-content">
                                <p class="card-title">START HERE</p>
                                <P class="card-desc">Who we are & what we do</P>
                                <p><img src="HireXImages/Designer _Flatline 1.png" class="card-img"></p>
                                <p><button class="card-btn1">START HERE  <img src="HireXImages/arrow-right.svg" class="card-arrow"></button></p>
                            </div>
                        </div>
                        <div class="column2">
                            <div class="card-content">
                                <p class="card-title">CUSTOM DESIGN</p>
                                <P class="card-desc">We'll design your project</P>
                                <p><img src="HireXImages/Notifications_Flatline 1.png" class="card-img"></p>
                                <p><button class="card-btn2">START HERE  <img src="arrow-right-black.png" class="card-arrow"></button></p>
                            </div>
                        </div>
                        <div class="column2">
                            <div class="card-content">
                                <p class="card-title">CONTACT US</p>
                                <P class="card-desc">Drop us your message</P>
                                <p><img src="HireXImages/Fortnite_Two Color 1.png" class="card-img"></p>
                                <p><button class="card-btn3">START HERE<img src="HireXImages/arrow-right-black.png" class="card-arrow"></button></p>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="section4">
                    <div class="content">
                        <p class="c4">Works</p>
                        <p class="c2">Find our latest works</p>
                        <p class="c3">The awesome people who make all this possible</p>
                    </div>
                    <div class="row3">
                        <div class="column3">
                            <div>
                                <img src="HireXImages/Rectangle 13.png">
                            </div>
                            <div class="r3c1">
                                <p class="mini-title">Web Design</p>
                            </div>
                            <div class="r3c2">
                                <p>Website Design For Digital Agency</p>
                            </div>
                            <div class="r3c3">
                                <p>Build a unique Website with HireX Template</p>
                                <a href="#">Read more <img src="HireXImages/arrow-right-black.png" class="card-arrow"></a>
                            </div>
                        </div>
                        <div class="column3">
                            <div>
                                <img src="HireXImages/Rectangle 13-1.png">
                            </div>
                            <div>
                                <p class="mini-title">3D Design</p>
                            </div>
                            <div class="r3c2">
                                <p>Realistic 3d model of Living Room</p>
                            </div>
                            <div class="r3c3">
                                <p>Build a unique Website with HireX Template</p>
                                <a href="#">Read more <img src="HireXImages/arrow-right-black.png" class="card-arrow"></a>
                            </div>

                            <div>
                                <button class="viewall-button">View All <img src="HireXImages/arrow-right-black.png"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="section5">
                    <div class="content">
                        <p class="c2">Plans & Pricing</p>
                        <p class="c3">The awesome people who makes all this possible</p>
                    </div>
                    <div class="row4">
                        <div class="column4">
                            <div class="feature-desc">
                                <p class="card-title">FREE</p>
                                <p class="card-desc">$0/MONTH</p>
                                <p class="card-content">Start free while you learn more about our services</p>
                            </div>
                            <hr>
                            <div class="features">
                                <ul>
                                    <li>Forever Free get the basic essentials</li>
                                    <li>Advanced security and performance</li>
                                    <li>Unlimited unhosted sites</li>
                                    <li>Live Support</li>
                                </ul>
                            </div>
                            <div>
                                <button class="service-button1">GET STARTED</button>
                            </div>
                        </div>

                        <div class="column4">
                            <div class="feature-desc">
                                <p class="card-title">BASIC</p>
                                <p class="card-desc">$19/MONTH</p>
                                <p class="card-content">Get powerful tools to make your business grow</p>
                            </div>
                            <hr>
                            <div class="features">
                                <ul>
                                    <li>Forever Free get the basic essentials</li>
                                    <li>Advanced security and performance</li>
                                    <li>Unlimited unhosted sites</li>
                                    <li>Live Support</li>
                                </ul>
                            </div>
                            <div>
                                <button class="service-button2">GET STARTED</button>
                            </div>
                        </div>

                        <div class="column4">
                            <div class="feature-desc">
                                <p class="card-title">PRO</p>
                                <p class="card-desc">$99/MONTH</p>
                                <p class="card-content">Take your business to the next level with our tools</p>
                            </div>
                            <hr>
                            <div class="features">
                                <ul>
                                    <li>Forever Free get the basic essentials</li>
                                    <li>Advanced security and performance</li>
                                    <li>Unlimited unhosted sites</li>
                                    <li>Live Support</li>
                                </ul>
                            </div>
                            <div>
                                <button class="service-button3">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="slider">
                    <div>
                        <img src="HireXImages/arrow-left-2.png" onclick="slide(0)">
                    </div>
                    <div class="carasoul-container">
                        <div class="carasoul">
                            <div class="profile-image">
                                <img src="HireXImages/testimonials-img.png">
                            </div>
                            <div class="testimonial-content">
                                <h4>"We select to practice in minerva since it is both useful, and our clients basically adore it! it has stood the test of time and proceeds"</h4>
                            </div>
                        </div>
                        <div class="carasoul">
                            <div class="profile-image">
                                <img src="HireXImages/testimonials-img.png">
                            </div>
                            <div class="testimonial-content">
                                <p>Hello World how are u thank you bye tata</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="HireXImages/arrow-right-black.png" onclick="slide(1)">
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="updates">
                    <div>
                        <p class="blog">Blog</p>
                        <p class="c2">Stay Updated</p>
                    </div>
                    <div class="row5">
                        <div class="column5">
                            <img src="HireXImages/Rectangle 19.png">
                            <div>
                                <p class="mini-title">Web design</p>
                                <div class="r3c2">
                                    <p>We Launch Minerva Template this Week!</p>
                                </div>
                                <div class="r3c3">
                                    <p>Build a unique Website with HireX Template</p>
                                    <a href="#">Read more<img src="HireXImages/arrow-right-black.svg" class="card-arrow"></a>
                                </div>
                            </div>
                        </div>
                        <div class="column5">
                            <img src="HireXImages/Rectangle 20.png">
                            <div>
                                <p class="mini-title">Web design</p>
                                <div class="r3c2">
                                    <p>Introducing the Non-Code Webflow Guide</p>
                                </div>
                                <div class="r3c3">
                                    <p>Build a unique Website with HireX Template</p>
                                    <a href="#">Read more<img src="HireXImages/arrow-right-black.svg" class="card-arrow"></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="newsletter">
                    <div class="row">
                        <div class="column">
                            <h4>Get Our latests news & updates</h4>
                            <div class="field">
                                <input type="text" name="name" placeholder="NAME">
                            </div>
                            <div class="field">
                                <input type="text" name="email" placeholder="EMAIL">
                            </div>
                            <div class="field">
                                <input type="text" name="subscribe" placeholder="SUBSCRIBE">
                            </div>
                        </div>
                        <div class="column">
                            <div class="newsletter-sc">
                                <p>We select to practice in Minerva since its both useful and commonsense, and our clients basically adore it</p>
                                <p class="mini-title">Book a call</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container">
                <div class="divider">
                    <div class="row1">
                        <div class="column1">
                            <p class="sld">Thank you for visit</p>
                            <div class="border2">
                                <img src="HireXImages/Line 4.png">
                            </div>
                        </div>
                        <div class="column1">
                            <p class="sld">Thank you for visit</p>
                            <div class="plus">
                                <div class="border2">
                                    <img src="HireXImages/Line 4.png">
                                </div>
                                <div class="horizontal">
                                    <img src="HireXImages/Line 4.png">
                                </div>
                            </div>
                        </div>
                        <div class="column1">
                            <p class="sld">Thank you for visit</p> 
                            <div class="border2">
                                <img src="HireXImages/Line 4.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="container">
            <div class="footer">
                <div class="footer-logo">
                    <img src="HireXImages/HireX_black.png">
                    <hr class="footer-hr">
                </div>
                <div class="footer-list">
                    <div class="fl">
                        <ul>
                            <li class="list-title">Products</li>
                            <li>platform</li>
                            <li>Store overview</li>
                            <li>Email Reports</li>
                            <li>Portfolio</li>
                        </ul>
                    </div>
                    <div class="fl">
                        <ul>
                            <li class="list-title">Resources</li>
                            <li>Case Studies</li>
                            <li>Product Guides</li>
                            <li>Reports</li>
                            <li>Blog</li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                    <div class="fl">
                        <ul>
                            <li class="list-title">Company</li>
                            <li>Careers</li>
                            <li>Contact Sales</li>
                            <li>Contact Support</li>
                        </ul>
                    </div>
                    <div class="fl">
                        <ul>
                            <li class="list-title">Partners</li>
                            <li>Partner With Us</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p>Terms and Conditions Privacy Policy</p>
                </div>
                <div class="cp">
                    <p>&copy;Inc,HIREX 2022</p>
                </div>
            </div>
        </footer>
    </body>
</html> 